@font-face {
    font-family: 'Cinzel';
    font-weight: 400;
    src:url("Cinzel.ttf");
}

@font-face {
    font-family: 'Cinzel';
    font-weight: 700;
    src:url("Cinzel-Bold.ttf");
}

.background {
    -fx-background-color: #F7E6DC;
}

.title {
    -fx-font-family: 'Cinzel', serif;
    -fx-text-fill: #800020;
    -fx-font-weight: 700;
}

.mainButton {
    -fx-font-family: 'Cinzel', serif;
    -fx-text-fill: #F7E6DC;
    -fx-background-color: #800020;
    -fx-font-weight: 700;
}

.mainButton:hover {
    -fx-background-color: #99334d;
    -fx-font-size: 32;
    -fx-effect: dropshadow(gaussian,#c08090,15,0,0,0);
    -fx-font-weight: 700;
}

.mainButton:pressed {
    -fx-font-size: 32;
    -fx-font-weight: 700;
}

.mainButton:focused {
    -fx-font-size: 32;
    -fx-font-weight: 700;
}

.textField {
    -fx-font-family: 'Cinzel', serif;
    -fx-text-fill: #800020;
    -fx-background-color: #F7E6DC;
    -fx-border-style: solid;
    -fx-border-color: #800020;
    -fx-border-width: 0 0 3px 0;
}

.textField:focused {
    -fx-font-size: 24;
}

.link {
    -fx-prompt-text-fill: #800020;
    -fx-font-family: 'Cinzel', serif;
    -fx-text-fill: #800020;
    -fx-font-weight: 700;
    -fx-background-color: #F7E6DC;
}

.link:hover {
    -fx-text-fill: #99334d;
    -fx-font-weight: 700;
    -fx-font-size: 24;
}

.link:focused {
    -fx-text-fill: #99334d;
    -fx-font-weight: 700;
    -fx-font-size: 24;
}